
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
a {
  text-decoration: none!important;
  background-color:white;
  padding: 10px 20px;
  font-size:12px;
  color: black;
}

nav{
  background-color: white;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  display: flex;
  justify-content: flex-start;
  margin-bottom:30px;
  height: 32px;
  color: black!important;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.activado {
 border-bottom: 1.7px solid #a3e1a3;
 transition-duration: 0.17s;
 font-weight: 600;
}
.desactivado{
  color: gray;
}
.desactivado:hover{
  color: rgb(55 65 81 / var(--tw-text-opacity));
  border-bottom: 1px solid rgba(240,210,255,1);
  transition-duration: 0.17s;
}


